<section class="two-way-binding">
    <article>
        <h3>Two-way data binding in my-forms</h3>

        <div>

            <input type="text" [value]="nome" (input)="nome = valorInput.value" #valorInput />

            <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" />

            <input type="text" [(ngModel)]="nome" />

            <p>Você Digitou: {{ nome }}</p>
        </div>

        <div>
            <h3>Two-way data binding</h3>
            <p>seu nome é {{ pessoa.nome }} e sua idade é {{ pessoa.idade }}</p>
            <input type="text" [(ngModel)]="pessoa.nome" />
            <input type="text" [(ngModel)]="pessoa.idade" />
        </div>

    </article>
</section>