<!-- <section>
    <article>
        <h2>interpolaco/ interpolaco</h2>
        <p>String renderizada com interpolçao: {{ url }}</p>
        <p>resulta de 1 + 1 é = {{ 1 + 1 }} </p>
        <p>resulta de 1 + 1 don't é = {{ 1 + 1 + getvalor() }} </p>
        <p>curso de angular e gosto de curso: {{ cursoAngular && getCurtirCurso() }} </p>
    </article>

    <article>
        <h3>Property Binding</h3>
        
        <img src="{{ urlImageOne }}" /> 

         <img [src]="urlImage" /> 
    </article>
</section> -->

<section class="input-output-properties">
    <article>
        <h3>Input/Output Properties</h3>
        <app-curso [nome]="nomeDoCurso"></app-curso>
    </article>
</section>